
.button {
    background-color: rgb(255, 0, 129);
    padding: 5px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    &:hover {
        /*background-color: rgba(255, 0, 130, 0.5) 0px 2px 25px;*/
        color: black;
        border: 1px solid rgb(255, 255, 255);
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 320px;
}

.field {
    padding: 4px;
    font-size: inherit;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.errMessage {
    font-size: 12px;
    color: red;
}